.table-component-container {
  width: 100%;
  padding: 0px !important;
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    scrollbar-color: #f87c47cc #f0f0f0;
  }
  .table-responsive {
    overflow-x: scroll; /* Force scrollbar to always be visible */
    -webkit-overflow-scrolling: touch;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    scrollbar-color: #f87c47cc #f0f0f0;
  }

  .table-responsive::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .table-responsive::-webkit-scrollbar-thumb {
    background-color: #f87c47cc;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
  }

  .table-responsive::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
  }

  .table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
  }

  .selected-row {
    background-color: #e9f7f6;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }

  .selected-row td {
    background-color: #e0e0e0a1;
    color: #f87c47cc;
  }

  th,
  td {
    padding: 10px 12px;
    text-align: start;
    font-size: 13px;
    color: #333;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
  }

  th {
    background-color: #f9fafb;
    color: #555;
    font-weight: 600;
  }

  .thead-dark {
    th {
      color: #000;
    }
  }

  .table-bordered {
    > :not(caption) > * {
      border: none;
      > * {
        border: none;
      }
    }
  }

  .table th {
    border: none;
    background-color: rgb(248, 124, 71);
    z-index: auto;

  }

  .table .thead-dark th {
    border: none;
  }

  .table .thead-light th {
    border: none;
  }

  .column-label-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 20px;

    .label {
      color: #fff;
    }
  }

  
}
