.navbar-container {
  background-color: var(--bg-color) !important;
  border-bottom: 1px solid var(--color-gray-200);
  max-height: 70px;
  height: 70px;
  .container {
    max-width: 100%;
  }

  // .navbar-brand {
  //   padding-inline-start: 6rem;
  //   .title {
  //     color: var(--primary-color) !important;
  //   }
  // }
  .web-title {
    font-size: 24px;
    font-weight: 600;
    margin-inline-start: 62px;
    color: var( --primary-color);
  }
  .navbar-brand,
  .nav-link,
  .navbar-toggler-icon {
    filter: invert(100%);
  }
  .nav-items-container {
    margin: auto !important;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: var(--primary-color);
  }
  .noti-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
  .btn {
    border: 2px solid white;
    color: white;
    transition: all 0.3s ease-in-out;

    &.btn-primary {
      background-color: white;
      color: orange;
      border-color: white;

      &:hover {
        background-color: darkorange;
        color: white;
      }
    }

    &.btn-outline-primary {
      background-color: transparent;
      border-color: orange;
      color: orange;

      &:hover {
        background-color: white;
        color: orange;
      }
    }
  }
  .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    // margin-bottom: 15px;
  }
  .user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: rgb(107, 107, 107);
  }
}
